# Basic Python Data Types

## Overview

This activity will introduce one of the true "core concepts" of computer science: the idea of data types. Every piece of data in a computer is stored as a collection of binary bits: ones and zeros. In order for the computer to manipulate data correctly, it is crucial that it keep track of what type the data is, so that it can correctly interpret the binary bits. When programming, it is also essential to pay close attention to data types.

In this activity, you will look at several simple built-in types of data in Python. First you will learn about numbers, which may be separated into integers and floating-point (real) numbers. Then you will explore strings, which allow us to represent text data. And finally you will learn about lists, which store collections of other data.

## Numbers

Python has two main kinds of numbers: integers, and real, or floating point, numbers. (There are other kinds of numbers, as well, but we probably won't use any of them). Below is a table showing basic numeric operations. Many more common mathematical operations are in the math module, which you can add in when you need it.

<table>
  <tr>
    <td>Example</td>
    <td>Meaning</td>
  </tr>
  <tr>
    <td>3 + 12</td>
    <td>Adds two numbers, returning the result </td>
  </tr>
  <tr>
    <td>45 - 19</td>
    <td>Subtracts second from first, returning the result</td>
  </tr>
  <tr>
    <td>5 \* 100</td>
    <td>Multiplies two numbers, returning the result </td>
  </tr>
  <tr>
    <td>55.0 / 2</td>
    <td>Divides first by the second, returning the result as a float </td>
  </tr>
  <tr>
    <td>55 // 2</td>
    <td>Divides first by the second, returning the quotient portion</td>
  </tr>
  <tr>
    <td>30 % 4</td>
    <td>Computes the remainder of first divided by second</td>
  </tr>
  <tr>
    <td>2 \*\* 3</td>
    <td>Raises first to the power of the second </td>
  </tr>
  <tr>
    <td>max(1, 5, 3)</td>
    <td>A function that returns the largest of values passed to it</td>
  </tr>
  <tr>
    <td>min(1, 5, 3)</td>
    <td>A function that returns the smallest of values passed to it</td>
  </tr>
  <tr>
    <td>abs(-3)</td>
    <td>A function that returns the absolute value of its argument</td>
  </tr>
  <tr>
    <td>round(3.2)</td>
    <td>A function that rounds its argument</td>
  </tr>
  <tr>
    <td>int(3.2)</td>
    <td>Converts its argument to an integer</td>
  </tr>
  <tr>
    <td>float(2)</td>
    <td>Converts its argument to a floating-point number</td>
  </tr>
</table>

Integers and floats are treated as different, though related, kinds of data. This is why we have explicit operators to convert from one type to the other. 

**Try this to hand in:** Try the examples in the following table, one at a time, in the Python cell below. Pay particular attention to the *type* of each resulting value. Fill in the table- next to each each expression list the value returned and the type of that value. The first one is completed as an example.

|**Expression**|**Value Returned**|**Data Type of result**|**Reason**               |
|--------------|------------------|-----------------------|-------------------------|
|4 + 9         | 13| integer | both operands are integers |
|4 + 9.0       | 13.0 | float  | 4 is an integer while 9.0 is float point variable |
|3.2 - 1.1     | 2.1 | float | both operands are float oint variables  |
|3 - 1         | 2 | integer | both operands are integers |
|3 - 1.0       | 2.0 | float | 3 is an integer while 1.0 is float point variable |
|4 * 5         | 20 | integer | both operands are integers |
|4 * 6.5       | 26.0 | float | 6.5 is float point variable |
|25 / 3        | 8.333334 | float | / returns float point variable |
|25 / 3.0      | 8.333334 | float | / returns float point variable |
|25 // 3       | 8 | integer | both operands are integers |
|25.0 // 3.0   | 8.333334 | float | both operands are float point variables |
|25 % 3        | 1 | integer | % returns integer |
|40 % 11.0     | 7.0 | float | 11.0 is float point variable |
|3 \*\* 2      | 8 | float | both operands are integers  |
|2.0 \*\* 3    | 8.0 | float | 2.0 is a float point variable |

In [2]:
2 ** 3

8

The default rule for the type of an arithmetic expression is: *If both operands are integers, then the result is an integer. If at least one operand is a floating-point number, then the result is a float, too.*

The single-slash, decimal division operator is an exception: it always returns a float.

There are three division-related operators: decimal division (/), quotient division (//), and remainder (%). Decimal division gives the normal calculator result for dividing two numbers. Quotient division returns only the integer part, the quotient of the division. It cuts off any part after the decimal point (another way of thinking about it is that it takes the "floor," it rounds down to the nearest integer less than the value). The remainder operator gives the remainder of the division of its two operands.

**Try this to hand in:** Suppose you have a banana that is 15.5 cm long. If you had 5100 such bananas, how many meters would they cover, laid end to end? Write a new script for this problemin the cell below. Start with a Python statement to define variables bananaLength and a variable numBananas, and then create a statement that computes how long they would be, in meters. Make sure to print the final result.

In [5]:
bananaLength = 15.5
numBananas = 5100
print("Total length = ",((bananaLength*numBananas)/100), "m")

Total length =  790.5 m

## Strings

Strings are collections of characters, and characters are keyboard symbols; each character represents a single keyboard key. For now, focus on strings as simply text.

Strings and characters are written the same in Python. A character is just a string of length 1. Strings are written with quotes before and after them. You can either use double-quotes or single-quotes, as the examples below show.

Try typing the following into the Python cell below. **Note:** cutting and pasting may not work correctly, often single and double quotes are converted to symbols that are not plain text, and you will have to replace them before they can be entered into Python.

    'Hi there'

    "Hi there"

    "I contain an apostrophe, don't I?"

    'I was told, "Double quotes go inside single quotes!"'

    s = 'hi mom'

In [9]:
'Hi there'

'Hi there'

 You can also make triple-quoted strings; only triple-quoted strings can have multiple lines in them. Here is one:

In [7]:
longstr = """As I was going to St. Ives,
I met a man with seven wives.
Each wife had seven sacks,
Each sack had seven cats,
Each cat had seven kits.
Kits, cats, sacks, and wives:
How many were going to St. Ives?"""
print(longstr+'hell yeah')
print(longstr[0:10])

As I was going to St. Ives,
I met a man with seven wives.
Each wife had seven sacks,
Each sack had seven cats,
Each cat had seven kits.
Kits, cats, sacks, and wives:
How many were going to St. Ives?hell yeah
As I was g

The following are basic string operations. The len function computes the length of a string. The plus operator *concatenates* two strings: sticks them together for form one string. The times operator takes a string and a number, and concatenates the string with itself number times. The in operator checks if one string appears exactly in another string. And the square bracket operator is used to access individual characters or, with the colon operator, to access a substring of the whole string.

Type each of the following into the interactive shell, and note what it does.

<table>
  <tr>
    <td>Example</td>
    <td>Meaning</td>
  </tr>
  <tr>
    <td>len('foo')</td>
    <td>Returns the number of characters in its argument </td>
  </tr>
  <tr>
    <td>'foo' + 'bar'</td>
    <td>Concatenates the two strings together</td>
  </tr>
  <tr>
    <td>'foo' * 3</td>
    <td>Concatenates the string with itself the number of times given </td>
  </tr>
  <tr>
    <td>'mom' in s</td>
    <td>Checks if first string occurs in second string </td>
  </tr>
  <tr>
    <td> s[3]</td>
    <td>Returns the character at the given position, zero-based</td>
  </tr>
  <tr>
    <td> s[3:5]</td>
    <td>Returns a substring starting at 3 and ending before 5</td>
  </tr>
</table>


What value would you get back if you typed each of the the following in the cell **above**, after we have already assigned longstr? Try to predict the result before typing it in and running it.

    len(longstr)

    'kits' in longstr

    longstr[36:39]

**Try this to hand in:** Create a script in the following cell that starts with:

    sentence = 'We must go to the movies on Saturday'

Use the substring operator from above (the last example) and experiment until you find the right starting and ending values to pull out the word 'Saturday'. Define a variable day to hold the value of the substring operation. Then, print the value of day concatenated with itself four times.

In [11]:
sentence = 'We must go to the movies on Saturday'
day = sentence[28:36]
print(day*4)

SaturdaySaturdaySaturdaySaturday

## Lists

A list is a collection of data. You write a list by surrounding the data with square brackets. Both lists and strings share some of the same operations; see the examples below.

Try typing the following into the Python cell below, running it after adding each line. You can also try adding lines to print any of the variables, such as lst3 and last4, to see what they contain.

    lst1 = [5, 1, 9, 2]

    lst2 = ['Nauru', 'Kiribati', 'Vanuatu']

    len(lst1)

    len(lst2)

    lst3 = lst1 + lst2

    lst4 = ['a', 'b'] * 5

    'Kiribati' in lst2

    'Fiji' in lst2

    lst1[0]

    lst2[2]

    lst1[2:3]

In [16]:
lst1 = [5, 1, 9, 2]

lst2 = ['Nauru', 'Kiribati', 'Vanuatu']

print(len(lst1))

print(len(lst2))

lst3 = lst1 + lst2

lst4 = ['a', 'b'] * 5

print('Kiribati' in lst2)

'Fiji' in lst2

lst1[0]

print(lst2[2])

print(lst1[2:3])

4
3
True
Vanuatu
[9]

**Try this to hand in:** Create a script below that has contains a list of 6 numbers. Add up the numbers at positions 0, 2, and 4, and store them in a variable. In another variable, store the sum of the numbers at positions 1, 3, and 5. Print the two numbers.

In [18]:
lst = [5, 1, 9, 2, 8, 7]
sum1 = lst[0] + lst[2] + lst[4]
sum2 = lst[1] + lst[3] + lst[5]
print(sum1)
print(sum2)

22
10

## Optional Challenge Question for Those Who Get This Far

Consider the problem of making change: figuring out how many bills and coins to give someone to make a specific amount of money. This example asks you to make a script to solve this problem. You might start by discussing this question with a neighbor, and developing together your ideas for how to solve the problem, in English or pseudocode. The key idea to making change is to take the quotient and remainder of an amount by the next monetary unit. For example, given \$7.32, represented as 732 cents. If we take the quotient of 732 by 100 (for one dollar bills), then we get 7, and the remainder of 732 divided by 100 is 32. Then take the part left over, and repeat for the next coin: quarters. Divide 32 by 25, and get 1, and the remainder is 7 cents. Continue in this manner.

Now, see if you can write a Python script, a series of expressions or statements in Python, that do this calculation and print out the results. Open a new editor window, or add this to an existing file. Define a variable, money, that contains a money amount, in cents (like 732 for $7.32, for example).

Then, create a series of Python statements that calculate and print how to give change for the money value, in dollars, quarters, dimes, nickels, and pennies. The best solution will use integer division and the remainder operation.

Below is an example of what might print when this script is run:

Making change for 732 cents:

 Dollars: 7

 Quarters: 1

 Dimes: 0

 Nickels: 1

 Pennies: 2

Once you get the script working for 732, change the value of money and test your script on other values to be sure it works more generally.

In [32]:
money2 = float(input("Enter money amount in dollars: "))
money1 = money2 * 100
money = money1
dollars = money//100
money = money%100
quarters = money//25
money = money%25
dimes = money//10
money = money%10
nickels = money//5
pennies = money%25
print('Making change for ',int(money1), 'cents:')
print('Dollars\t: ',int(dollars))
print('Quarters: ',int(quarters))
print('Dimes \t: ',int(dimes))
print('Nickels\t: ',int(nickels))
print('Pennies\t: ',int(pennies))

Enter money amount in dollars: 7.66
Making change for  766 cents:
Dollars	:  7
Quarters:  2
Dimes 	:  1
Nickels	:  1
Pennies	:  6